body{
  background-color: #313D74;
}

h1, p{
  text-align: center;
  font-family: cursive;
}

table{
  border: 20px solid #000000;
  margin-top: 20%;
  margin: auto;
  width: 300px;
  height: 300px;
}

tr:nth-child(2n){
  background-color: #B6C6F0;
}
tr:nth-child(2n + 1){
  background-color: #FFE8BA;
}
td{
  padding: 5px;
  text-align: center;
  font-size: 200%;
  font-family: cursive;
}
tr:nth-child(2n + 1){
  color: #27489d;
}

tr:nth-child(2n){
  color: #ffda8f;
}
